*.root
*.csv
*.dat
*.hddm
*.ascii
*.gif
*.pdf
*.png
*.jpg
*.jpeg
*.err
*.out
*.C.d
*.C.so
*.pcm

f1_mc/log
f1_mc/jobs_out
f1_mc/DSelector
hd_utilities
.ipynb_checkpoints
amp_mike
KinFit_Workshop_2021
kkpiAmp
genEtaRegge-inter-JEF
papers
plots
selector_output
theory_predictions
.DS_Store
.vscode
builds
data
ete_rege_gen
DSelectorJobs/generic


analysis/pipkmks/DSelector_pipkmks_flat_2019_ks_constrained_t1_s2_C.d
analysis/pipkmks/DSelector_pipkmks_flat_2019_ks_constrained_t1_s2_C.so
analysis/pipkmks/DSelector_pipkmks_flat_2019_ks_unconstrained_t1_s2_C.d
analysis/pipkmks/DSelector_pipkmks_flat_2019_ks_unconstrained_t1_s2_C.so
analysis/pipkmks/DSelector_pipkmks_mxp_constrained_C.d
analysis/pipkmks/DSelector_pipkmks_mxp_constrained_C.so
analysis/pipkmks/DSelector_pipkmks_mxp_unconstrained_C.d
analysis/pipkmks/DSelector_pipkmks_mxp_unconstrained_C.so
analysis/pipkmks/DSelector_pipkmks_pd_constrained_C.d
analysis/pipkmks/DSelector_pipkmks_pd_constrained_C.so
analysis/pipkmks/DSelector_pipkmks_pd_unconstrained_C.d
analysis/pipkmks/DSelector_pipkmks_pd_unconstrained_C.so
builds/halld_sim
mc/analysis/pimkpks/DSelector_mc_pimkpks_flat_C.d
mc/analysis/pipkmks/DSelector_mc_pipkmks_flat_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_flat_C.so
mc/analysis/pipkmks/DSelector_mc_pipkmks_phasespace_flat_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_phasespace_flat_C.so
mc/analysis/pipkmks/DSelector_mc_pipkmks_phasespace_thrown_C.d
mc/analysis/pipkmks/DSelector_mc_pipkmks_phasespace_thrown_C.so
mc/analysis/pipkmks/DSelector_mc_pipkmks_thrown_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_thrown_C.so
roofunctions/RelBreitWigner_cxx.so
builds/halld_sim
mc/analysis/pipkmks/DSelector_mc_pipkmks_flat_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_flat_C.so
mc/analysis/pipkmks/DSelector_mc_pipkmks_phasespace_flat_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_phasespace_flat_C.so
mc/analysis/pipkmks/DSelector_mc_pipkmks_thrown_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_thrown_C.so
builds/halld_sim
mc/analysis/pipkmks/DSelector_mc_pipkmks_flat_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_flat_C.so
mc/analysis/pipkmks/DSelector_mc_pipkmks_phasespace_flat_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_phasespace_flat_C.so
mc/analysis/pipkmks/DSelector_mc_pipkmks_thrown_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_thrown_C.so
mc/analysis/pimkpks/DSelector_mc_pimkpks_flat_correct_rf_C.d
mc/analysis/pimkpks/DSelector_mc_pimkpks_flat_correct_rf_C.so
mc/analysis/pimkpks/DSelector_pimkpks_phasespace_flat_correct_rf_C.d
mc/analysis/pimkpks/DSelector_pimkpks_phasespace_flat_correct_rf_C.so
mc/analysis/pipkmks/DSelector_mc_pipkmks_flat_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_flat_C.so
mc/analysis/pipkmks/DSelector_mc_pipkmks_phasespace_flat_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_phasespace_flat_C.so
mc/analysis/pipkmks/DSelector_mc_pipkmks_thrown_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_thrown_C.so
analysis/pimkpks/DSelector_pimkpks_flat_bestchi2_C.d
analysis/pimkpks/DSelector_pimkpks_flat_bestchi2_C.so
builds/halld_sim
mc/analysis/pimkpks/DSelector_mc_pimkpks_phasespace_thrown_C.d
mc/analysis/pimkpks/DSelector_mc_pimkpks_phasespace_thrown_C.so
mc/analysis/pimkpks/DSelector_mc_pimkpks_thrown_C.d
mc/analysis/pimkpks/DSelector_mc_pimkpks_thrown_C.so
mc/analysis/pipkmks/DSelector_mc_pipkmks_flat_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_flat_C.so
mc/analysis/pipkmks/DSelector_mc_pipkmks_phasespace_flat_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_phasespace_flat_C.d
mc/analysis/pipkmks/DSelector_mc_pipkmks_phasespace_flat_C.so
mc/analysis/pipkmks/DSelector_mc_pipkmks_thrown_C_ACLiC_dict_rdict.pcm
mc/analysis/pipkmks/DSelector_mc_pipkmks_thrown_C.so
my_library/__pycache__/__init__.cpython-36.pyc
my_library/__pycache__/common_analysis_tools.cpython-36.pyc
