*.root
*.csv
*.dat
*.hddm
*.ascii
*.gif
*.pdf
*.png
*.jpg
*.jpeg
*.err
*.out


f1_mc/log
f1_mc/jobs_out
f1_mc/DSelector
hd_utilities
.ipynb_checkpoints
amp_mike
KinFit_Workshop_2021
kkpiAmp
genEtaRegge-inter-JEF
papers
mc
plots
selector_output
theory_predictions
.DS_Store
.vscode
builds
data
ete_rege_gen
