# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       halld                 # http://scicomp.jlab.org/scicomp/#/projects
TRACK                         production              # https://scicomp.jlab.org/docs/batch_job_tracks
OS                            general

# JOB RESOURCES
NCORES                        12 #Apparently 1 is too few and will cause AUGER-SUBMIT errors. 2+ is fine. Odd.
DISK                          10GB
RAM                           10GB
TIMELIMIT                     16hrs
# NCORES                        2 #Apparently 1 is too few and will cause AUGER-SUBMIT errors. 2+ is fine. Odd.
# DISK                          1GB
# RAM                           1GB
# TIMELIMIT                     3minutes

# WORKFLOW DEFINITION
# RUNPERIOD                     2018-01
WORKFLOW                      f1_flat

# JOB, SCRIPT CONTROL
ENVFILE                       /group/halld/Software/build_scripts/gluex_env_jlab.sh #BASH format, not csh!!
#SCRIPTFILE                    /w/halld-scshelf2101/home/jzarling/submit_jobs/RunDSelector/script.sh
SCRIPTFILE                    /w/halld-scshelf2101/home/viducic/DSelectorJobs/f1/script_root_6.24_compatible.sh
#CACHE_PIN_DAYS               21                                                      # max is 60, 0 or comment-out for none

# ROOT CONFIG
ROOT_SCRIPT                   /w/halld-scshelf2101/home/viducic/DSelectorJobs/f1/Run_Selector.C

# TREE_NAME                     pipkmks__B4_M16_Tree
# SELECTOR_NAME                 /w/halld-scshelf2101/home/viducic/analysis/DSelector_pipkmks_flat_bestchi2   # pipkmks   # Leave .C off of the end!

TREE_NAME                     pimkpks__B4_M16_Tree
SELECTOR_NAME                 /w/halld-scshelf2101/home/viducic/analysis/DSelector_pimkpks_flat_bestchi2   # pipkmks   # Leave .C off of the end!


# FILE INPUT, OUTPUT BASE DIRECTORIES
# INDATA_TOPDIR     /mss/halld/RunPeriod-2017-01/analysis/ver50/tree_pipkmks__B4_M16/merged/ # 2017 data 30274 31057 
# INDATA_TOPDIR     /mss/halld/RunPeriod-2018-08/analysis/ver16/tree_pipkmks__B4_M16/merged/ # 2018 fall data 50685 51768
# INDATA_TOPDIR     /mss/halld/RunPeriod-2018-01/analysis/ver16/tree_pipkmks__B4_M16/merged/ # 2018 spring data 40856 42559
# INDATA_TOPDIR     /mss/halld/RunPeriod-2019-11/analysis/ver01/tree_pipkmks__B4_M16/merged/ # 2019 data 71728 72435

# INDATA_TOPDIR     /mss/halld/RunPeriod-2017-01/analysis/ver47/tree_pimkpks__B4_M16/merged/ # 2017 data 30274 31057
# INDATA_TOPDIR     /mss/halld/RunPeriod-2018-08/analysis/ver16/tree_pimkpks__B4_M16/merged/ # 2018 fall data  50685 51768
INDATA_TOPDIR     /mss/halld/RunPeriod-2018-01/analysis/ver16/tree_pimkpks__B4_M16/merged/ # 2018 spring data 40856 42559
# INDATA_TOPDIR     /mss/halld/RunPeriod-2019-11/analysis/ver01/tree_pimkpks__B4_M16/merged/ # 2019 data 71728 72435

# FILE OUTPUT
# OUTDIR_LARGE      /lustre19/expphy/volatile/halld/home/viducic/selector_output/f1_pipkmks_flat_nocuts
# OUTDIR_SMALL      /u/scifarm/farm_out/viducic/f1_pipkmks_flat_nocuts    # log
OUTDIR_LARGE       /lustre19/expphy/volatile/halld/home/viducic/selector_output/f1_pimkpks_flat_nocuts    # REST, hist
OUTDIR_SMALL       /u/scifarm/farm_out/viducic/f1_pimkpks_flat_nocuts