# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       halld                 # http://scicomp.jlab.org/scicomp/#/projects
TRACK                         production              # https://scicomp.jlab.org/docs/batch_job_tracks
OS                            general

# JOB RESOURCES
NCORES                        16
DISK                          50GB
RAM                           14GB
TIMELIMIT                     8hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION, & BATCH: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     2018-08
VERSION                       16
WORKFLOW                      pipkmks_pd

# JOB, SCRIPT CONTROL
ENVFILE                       /group/halld/Software/build_scripts/gluex_env_jlab.sh
SCRIPTFILE                    /w/halld-scshelf2101/home/viducic/skimming/script.sh
RCDB_QUERY                    "@is_production and @status_approved"         # comment-out for all runs
JANA_CONFIG                   /work/halld/home/viducic/skimming/jana_analysis_pd_ks_constrained.config
CACHE_PIN_DAYS                0                                            # max is 60, 0 or comment-out for none

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR     /mss/halld/RunPeriod-2018-01/recon/ver02/REST/  # 40856 40883

# FOR FULL RECON LAUNCHES
OUTDIR_LARGE      /lustre19/expphy/volatile/halld/home/viducic/mxp_study/pd_ks_constrained                # REST, skims, hists, trees
OUTDIR_SMALL      /lustre19/expphy/volatile/halld/home/viducic/mxp_study 
