# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       halld                 # http://scicomp.jlab.org/scicomp/#/projects
TRACK                         production              # https://scicomp.jlab.org/docs/batch_job_tracks
OS                            general

# JOB RESOURCES
NCORES                        12 #Apparently 1 is too few and will cause AUGER-SUBMIT errors. 2+ is fine. Odd.
DISK                          10GB
RAM                           10GB
TIMELIMIT                     16hrs
# NCORES                        2 #Apparently 1 is too few and will cause AUGER-SUBMIT errors. 2+ is fine. Odd.
# DISK                          1GB
# RAM                           1GB
# TIMELIMIT                     3minutes

# WORKFLOW DEFINITION
# RUNPERIOD                     2018-01
WORKFLOW                      f1_new_mc

# JOB, SCRIPT CONTROL
ENVFILE                       /group/halld/Software/build_scripts/gluex_env_jlab.sh #BASH format, not csh!!
SCRIPTFILE                    /work/halld/home/viducic/mc/analysis/dselector_jobs/f1_flat/script.sh
#CACHE_PIN_DAYS               21                                                      # max is 60, 0 or comment-out for none

# ROOT CONFIG
ROOT_SCRIPT                   /work/halld/home/viducic/mc/analysis/dselector_jobs/f1_flat/Run_Selector.C

TREE_NAME                     pimkpks__ks_pippim__B4_M16_Tree
SELECTOR_NAME                /work/halld/home/viducic/mc/analysis/pimkpks/DSelector_mc_pimkpks_flat   # pimkpks   # Leave .C off of the end!



# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR     /w/halld-scshelf2101/halld3/home/viducic/new_mc/f1_pimkpks_f18_3730/root/trees/ # 2018 data 40856 42559


# FILE OUTPUT
OUTDIR_LARGE      /lustre19/expphy/volatile/halld/home/viducic/selector_output/f1_pimkpks_new_mc
OUTDIR_SMALL      /u/scifarm/farm_out/viducic/f1_pimkpks_new_mc    # log


