# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       halld                 # http://scicomp.jlab.org/scicomp/#/projects
TRACK                         production              # https://scicomp.jlab.org/docs/batch_job_tracks
OS                            general

# JOB RESOURCES
NCORES                        16
DISK                          50GB
RAM                           14GB
TIMELIMIT                     8hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION, & BATCH: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     2018-08
VERSION                       16
BATCH                         03
WORKFLOW                      viducic_bggen

# JOB, SCRIPT CONTROL
ENVFILE                       /group/halld/www/halldweb/html/halld_versions/analysis-2018_08-ver16.xml
SCRIPTFILE                    /w/halld-scshelf2101/home/viducic/f1_mc/bggen/script.sh
RCDB_QUERY                    "@is_production and @status_approved"         # comment-out for all runs
JANA_CONFIG                   /w/halld-scshelf2101/home/viducic/f1_mc/bggen/jana_analysis.config
CACHE_PIN_DAYS                0                                            # max is 60, 0 or comment-out for none

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR     /mss/halld/gluex_simulations/REQUESTED_MC/F2018_ver02_21_bggen_batch[BATCH]_20211130120410pm/hddm/

# FOR FULL RECON LAUNCHES
OUTDIR_LARGE      /volatile/halld/home/viducic/bggen_batch_[BATCH]                  # REST, skims, hists, trees
OUTDIR_SMALL      /farm_out/viducic/bggen_batch_[BATCH]                 # log files, IDXA

